//
   Created by SW on 2018-10-22.

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Karma')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='../plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='../stylesheets/MenuManagement_KKY.css')
        link(rel='stylesheet', href='../stylesheets/ImgSlider_KSW.css')
        link(rel='stylesheet', href='../stylesheets/MenuInfo_KSW.css')
        link(href='../stylesheets/style_HNH.css', rel='stylesheet')
    body.body-wrapper

        include components/topHeader
        include components/navBar_KSW



        #my-carousel.container.col-12.col-sm-12.col-md-offset-3.col-md-6
            #myCarousel.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    - for(var i=0; i<menu.imageMenu.length; i++)
                        if(i === 0)
                            li.active(data-target='#myCarousel', data-slide-to='0')
                        else
                            li(data-target='#myCarousel', data-slide-to=i)
                // Wrapper for slides
                .carousel-inner
                    - for(var i=0; i<menu.imageMenu.length; i++)
                        if(i===0)
                            .item.active
                                img(src='../' + menu.imageMenu[i].image_url, alt=menu.imageMenu[i].image_name)
                        else
                            .item
                                img(src='../' + menu.imageMenu[i].image_url, alt=menu.imageMenu[i].image_name)
                // Left and right controls
                if(menu.imageMenu.length>1)
                    a.left.carousel-control(href='#myCarousel', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left
                        span.sr-only Previous
                    a.right.carousel-control(href='#myCarousel', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right
                        span.sr-only Next
            .col-12.col-sm-12.col-md-12.col-lg-12
                hr
            .user-profile.col-12.col-sm-12.col-md-12.col-lg-12
                .col-sm-offset-2.col-md-offset-2.col-lg-offset-2.col-3.col-sm-3.col-md-3.col-lg-3
                    img.avatar(src='../' + seller.imageFace.image_url, alt='Ash')
                #profile_info.col-offset-2.col-sm-offset-1.col-md-offset-1.col-lg-offset-1.col-7.col-sm-6.col-md-6.col-lg-6
                    .menu-container.restaurant-name.col-12.col-sm-12.col-md-12.col-lg-12
                        = menu.title
                    .menu-container.address.col-12.col-sm-12.col-md-12.col-lg-12
                        = menu.address
                    .menu-container.username.col-12.col-sm-12.col-md-12.col-lg-12
                        = sellerMember.first_name+" "+sellerMember.last_name
            .col-12.col-sm-12.col-md-12.col-lg-12
                br
                hr
            .col-12.res_info
                p
                    span.mytitle.w3-col.s6.m6.l6 메뉴
                    span.myinfo.w3-rest= menu.title
                p
                    span.mytitle.w3-col.s6.m6.l6 가격
                    span.myinfo.w3-rest= menu.price
                //p
                    span.mytitle.w3-col.s6.m6.l6 예약 유형
                    span.w3-rest.myinfo 자율 예약
                p
                    span.mytitle.w3-col.s6.m6.l6 판매 시간
                    span.w3-rest.myinfo= menu.optionTime1 + '~' + menu.optionTime2
                .mytitle.w3-col.s12.m12.l12 상세 설명
                .myinfo.w3-col.s12.m12.l12
                    p
                        = menu.text
            //#ingredient-description.mytitle 재료 설명
            // Slider
            //.horiz-scroll.scroll-feature
                .scroller
                    .left-scroll.invisible
                        p.fa.fa-angle-left
                    .right-scroll
                        p.fa.fa-angle-right
                    .scroll-images.scrollable-x
                        img(src='http://placehold.it/600x400/CCB03A/fff&text=Image+1', alt='Image 1')
                        img(src='http://placehold.it/600x400/FAEF5D/333&text=Image+2', alt='Image 2')
                        img(src='http://placehold.it/600x400/97A976/fff&text=Image+3', alt='Image 3')
                        img(src='http://placehold.it/600x400/675647/fff&text=Image+4', alt='Image 4')
                        img(src='http://placehold.it/600x400/253E41/fff&text=Image+5', alt='Image 5')
                        img(src='http://placehold.it/600x400/F1582D/fff&text=Image+6', alt='Image 6')
                        img(src='http://placehold.it/600x400/C1DAD8/333&text=Image+7', alt='Image 7')
                        img(src='http://placehold.it/600x400/6CB8C1/fff&text=Image+8', alt='Image 8')
                        img(src='http://placehold.it/600x400/BF6A28/fff&text=Image+9', alt='Image 9')
                        img(src='http://placehold.it/600x400/5E4D1E/fff&text=Image+10', alt='Image 10')
                        img(src='http://placehold.it/600x400/E5DECA/333&text=Image+11', alt='Image 11')
            //.col-12.col-sm-12.col-md-12.col-lg-12.myhr
                hr
            #res_info.col-12
                //p
                    span.mytitle.w3-col.s6.m6.l6 매장명
                    span.myinfo.w3-rest 호호식당
                //p
                    span.mytitle.w3-col.s6.m6.l6 평점
                    span.myinfo.w3-rest
                        span.fa.fa-star.checked
                        span.fa.fa-star.checked
                        span.fa.fa-star.checked
                        span.fa.fa-star
                        span.fa.fa-star
                        span  4.1
                //p
                    span.mytitle.w3-col.s6.m6.l6 후기
                    span.w3-rest.myinfo
                        a(href='')
                            | 501개
                            small 보러 가기
                //p
                    span.mytitle.w3-col.s6.m6.l6 운영 시간
                    span.w3-rest.myinfo 12:00 ~ 21:00
                //p
                    span.mytitle.w3-col.s6.m6.l6 휴식 시간
                    span.w3-rest.myinfo 15:00 ~ 17:00
                //p
                    span.mytitle.w3-col.s6.m6.l6 최소 주문일
                    span.w3-rest.myinfo 3 일
                //p
                    span.mytitle.w3-col.s6.m6.l6 휴일
                    span.w3-rest.myinfo
                        i.fa.fa-calendar
                //.col-12.col-sm-12.col-md-12.col-lg-12.myhr
                    hr
                h2 식사 장소
                // Slider
                .horiz-scroll.scroll-feature
                    .scroller
                        .left-scroll.invisible
                            p.fa.fa-angle-left
                        .right-scroll
                            p.fa.fa-angle-right
                        .scroll-images.scrollable-x
                            - for(var i=0;i<seller.imageStore.length;i++)
                                img(src='../' + seller.imageStore[i].image_url,, alt='Image 1')

                .col-12.col-sm-12.col-md-12.col-lg-12.myhr
                    br
                //h2 매장 설명
                //p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                h2 위치
                #map.col-12.col-sm-12.col-md-12.col-lg-12(style='height: 300px; width: 100%;')
                .col-12.col-sm-12.col-md-12.col-lg-12.myhr
                    br
                .col-12.col-sm-12.col-md-12.col-lg-12.menu-container.purchase-btn
                    button.btn.btn-warning.col-6.col-sm-6.col-md-6.col-lg-6 판매자 즐겨찾기
                    button.btn.btn-success(type='button', data-toggle='modal', data-target='#purchase').col-6.col-sm-6.col-md-6.col-lg-6 구매
                .col-12.col-sm-12.col-md-12.col-lg-12.myhr
                    br
                    br
                    br
                    br
                    br

        include components/footer_KSW

        #purchase.modal.fade.cupon-modal(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        img(src='../img/home/thorLogo.png', alt='Store Icon', style='margin: auto; display: block;')
                    .modal-body
                        .col-12.res_info
                            p
                                span.mytitle.w3-col.s6.m6.l6 메뉴
                                span.myinfo.w3-rest 전주 비빔밥
                            //p
                            //    span.mytitle.w3-col.s6.m6.l6 가격
                            //    span.myinfo.w3-rest 8,000원
                            //p
                            //    span.mytitle.w3-col.s6.m6.l6 예약 유형
                            //    span.w3-rest.myinfo 자율 예약
                            //p
                            //    span.mytitle.w3-col.s6.m6.l6 판매 시간
                            //    span.w3-rest.myinfo 16:00 ~ 18:00
                            //p
                            //    span.mytitle.w3-col.s6.m6.l6 수량
                            //    span.w3-rest.myinfo 16:00 ~ 18:00
                        a.btn.btn-transparent(href='#', data-dismiss='modal', style='float: left;') 뒤로 가기
                        a.btn.btn-transparent(href='/', style='float: right;') 결제하기

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='../js/ImgSlider.js')
        script(src='../js/googleMap_KSW.js')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDXRttJPmU15cheDKyAeKPQ5ZJzGC-0JUg&callback=myMap')
